.activity-group {

  .activity-group-header {
    @include pie-clearfix;
    background-color: #f1f1f1;
  }

  .activity-nav {
    @include reset-list-style;
    max-width: 1152px;
    margin: 0 auto;
    text-align: center;
    .slick-track {
      margin: 0 auto;
    }
    .slick-prev, .slick-next {
      @include reset-box-model;
      position: absolute;
      z-index: 1200;
      top: 0;
      bottom: 0;
      width: 64px;
      @include hide-text(right);
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      &:focus { outline: none; }
      &.slick-disabled { display: none !important; }
    }
    .slick-prev {
      left: 0;
      background-image: url("/images/member-arrow-prev.png");
      background-image: none, url("/images/member-arrow-prev.svg"), linear-gradient(to left, rgba(#f1f1f1, 0), rgba(#f1f1f1, 1));

    }
    .slick-next {
      right: 0;
      background-image: url("/images/member-arrow-next.png");
      background-image: none, url("/images/member-arrow-next.svg"), linear-gradient(to right, rgba(#f1f1f1, 0), rgba(#f1f1f1, 1));
    }
  }
  .activity-nav-item {
    position: relative;
    display: inline-block;
    padding: 24px 12px;
    color: black;
    @include nowrap;
    @include transition(background-color .25s);
    &:hover {
      text-decoration: none;
      background-color: #ddd;
    }
    &.is-active {
      background-color: #ddd;
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #dddddd transparent transparent transparent;
      }
    }
  }
  .activity-nav-item-icon {
    display: block;
    margin: 0 auto;
  }
  .activity-nav-item-title {
    @include trailer(0);
    @include adjust-font-size-to(15px);
    color: black;
  }

  .activity-cover {
    background-color: #444;
    color: white;
    text-align: center;
    padding: rhythm(4) 0 rhythm(3.5);
    .activity-nav-item-title {
      color: white;
    }
    .activity-subtitle {
      color: #aaa;
    }
    .activity-text {
      @include trailer(0);
    }
  }

  .activity-content {
    text-align: center;
    padding: rhythm(2) 0;
  }

  .activity-title {
    @include adjust-font-size-to(24px, 1.25);
    @include trailer(0.25);
  }

  .activity-subtitle {
    @include trailer(1);
    @include adjust-font-size-to(15px);
  }

  .activity-text {
    @include adjust-font-size-to(15px);
    max-width: 400px;
    margin: 0 auto rhythm(1);
  }
  .activity-img {
    @include trailer(1);
  }

  .has-divider:after, .has-divider_black:after {
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    margin: rhythm(1) auto;
  }
  .has-divider:after {
    background-color: white;
  }
  .has-divider_black:after {
    background-color: black;
  }
  .timeline {
    @include leader(2);
  }
  .booth-list {
    @include reset-list-style;
    // text-align: left;
    margin: rhythm(2) auto 0;
  }
  .booth-list-item {
    display: inline-block;
    vertical-align: top;
    @include trailer(2);
    @include box-sizing(border-box);
  }
  .booth-list_starter {
    max-width: 480px;
    .booth-list-item {
      padding: 0 12px;
      width: 50%;
    }
  }
  .booth-list_dreamer, .booth-list_drinks {
    max-width: 400px;
    .booth-list-item {
      width: 100%;
    }
  }
  .product-setion {
    @include leader(2);
  }
  .product-title {
    @include adjust-font-size-to(21px, 1.25);
  }
  .product-text {
    @include adjust-font-size-to(15px);
  }

  @include at-breakpoint($pad) {
    .activity-cover {
      padding: rhythm(6) 0 rhythm(5.5);
      .activity-text {
        @include adjust-font-size-to(16px, 1.25);
      }
    }
    .activity-title {
      @include adjust-font-size-to(28px, 1.4);
      @include trailer(0.75);
    }
    .activity-subtitle {
      @include adjust-font-size-to(20px, 1.2);
    }
    .activity-text {
      @include adjust-font-size-to(16px, 1);
    }
    .activity-content {
      padding: rhythm(3) 0;
    }
    .booth-list {
      max-width: 720px;
    }
    .booth-list_starter {
      .booth-list-item {
        width: 33.3333%;
      }
    }
    .booth-list_dreamer, .booth-list_drinks {
      .booth-list-item {
        width: 50%;
        padding: 0 24px;
      }
    }
    .product-setion {
      @include leader(3);
    }
    .product-title {
      @include leader(0.5);
    }

  }

  @include at-breakpoint($desktop) {
    .booth-list_dreamer, .booth-list_drinks {
      max-width: none;
      .booth-list-item {
        width: 25%;
      }
    }
    .booth-list_drinks {
      max-width: none;
      .booth-list-item {
        width: 33.3333%;
      }
    }
  }

  @include at-breakpoint($wide-desktop) {
    .activity-cover {
      padding: rhythm(8) 0 rhythm(7.5);
    }
    .activity-content {
      padding: rhythm(4) 0;
      .container {
        max-width: 1154px;
      }
    }
    .booth-list {
      max-width: none;
    }
    .booth-list_starter {
      .booth-list-item {
        width: 25%;
      }
    }
    .booth-list_dreamer {
      .booth-list-item {
        width: 25%;
      }
    }
    .product-setion {
      @include leader(4);
    }
    .product-title {
      @include leader(1);
    }
  }


}
