.activity-group {

  .activity-group-header {
    @include pie-clearfix;
    background-color: #f1f1f1;
  }

  .activity-nav {
    @include reset-list-style;
    max-width: 1152px;
    margin: 0 auto;
    text-align: center;
    .slick-track {
      margin: 0 auto;
    }
    .slick-prev, .slick-next {
      @include reset-box-model;
      position: absolute;
      z-index: 1200;
      top: 0;
      bottom: 0;
      width: 64px;
      @include hide-text(right);
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      &:focus { outline: none; }
      &.slick-disabled { display: none !important; }
    }
    .slick-prev {
      left: 0;
      background-image: url("/images/member-arrow-prev.png");
      background-image: none, url("/images/member-arrow-prev.svg"), linear-gradient(to left, rgba(#f1f1f1, 0), rgba(#f1f1f1, 1));

    }
    .slick-next {
      right: 0;
      background-image: url("/images/member-arrow-next.png");
      background-image: none, url("/images/member-arrow-next.svg"), linear-gradient(to right, rgba(#f1f1f1, 0), rgba(#f1f1f1, 1));
    }
  }
  .activity-nav-item {
    position: relative;
    display: inline-block;
    padding: 24px 12px;
    color: black;
    @include nowrap;
    @include transition(background-color .25s);
    &:hover {
      text-decoration: none;
      background-color: #ddd;
    }
    &.is-active {
      background-color: #ddd;
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #dddddd transparent transparent transparent;
      }
    }
  }
  .activity-nav-item-icon {
    display: block;
    margin: 0 auto;
  }
  .activity-nav-item-title {
    @include trailer(0);
    @include adjust-font-size-to(15px);
  }

  .title-divider {
    display: block;
    width: 48px;
    height: 2px;
    background-color: white;
    margin: rhythm(1) auto;
    &.title-divider_black {
      background-color: black;
    }
  }

  .activity-cover {
    background-color: #444;
    color: white;
    text-align: center;
    padding: rhythm(4) 0 rhythm(3.5);
  }
  .activity-content {
    text-align: center;
    padding: rhythm(2) 0;
  }
  .activity-title {
    @include adjust-font-size-to(24px, 1);
    @include trailer(0.5);
  }
  .activity-subtitle {
    @include trailer(1);
    @include adjust-font-size-to(15px, 2/3);
    color: #ddd;
  }

  .activity-text {
    @include adjust-font-size-to(15px);
    max-width: 400px;
    margin: 0 auto;
  }

  .booth-list {
    @include reset-list-style;
  }
  .booth-list-item {
    display: inline-block;
    vertical-align: top;
    @include trailer(1);
    @include box-sizing(border-box);
    padding: 0 12px;
  }
  .booth-list_small {
    .booth-list-item {
      width: 50%;
    }
  }

  @include at-breakpoint($pad) {
    .activity-cover {
      padding: rhythm(6) 0 rhythm(5.5);
    }
    .activity-title {
      @include adjust-font-size-to(28px, 1.2);
      @include trailer(0.75);
    }
    .activity-subtitle {
      @include adjust-font-size-to(18px, 1);
    }
    .activity-text {
      @include adjust-font-size-to(16px);
      max-width: 400px;
      margin: 0 auto;
    }
  }


  @include at-breakpoint($wide-desktop) {
    .activity-cover {
      padding: rhythm(8) 0 rhythm(7.5);
    }
  }

}
