.category-list {
  @include pie-clearfix;
  @include reset-list-style;
  display: none;

  li {
    float: left;
    width: 20%;
    text-align: center;
  }

  a {
    padding: 6px 12px;
    display: block;
    color: #444;
    background-color: #ddd;
    @include adjust-font-size-to(13px);
    &:hover {
      text-decoration: none;
    }
  }

  @include at-breakpoint($pad) {

    a {
      padding: 12px;
      @include adjust-font-size-to(15px);
    }

  }


}
