.content {
  padding: rhythm(2) 0;

  .content-inner {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
    position: relative;
    z-index: 50;
  }

  h3 {
    @include trailer(.25);
    @include adjust-font-size-to(15px);
    font-weight: bold;
    color: $color-gray-dark;
  }
  p {
    @include adjust-font-size-to(16px, 1.125);
  }
  a {
    text-decoration: underline;
  }
  .notice {
    @include rhythm(1,0,0,1);
    @include adjust-font-size-to(15px);
    font-weight: bold;
  }

  .divide:before {
    content: "";
    display: block;
    width: 25%;
    margin: 48px auto;
    border-top: 2px solid $color-gray-white;
  }

  .action {
    @include trailer(2);
    .btn_submit {
      @include adjust-font-size-to(21px);
      padding: 6px 72px;
    }
  }

  @include at-breakpoint($pad) {

    padding: rhythm(4) 0;

    .content-inner_head {
      @include margin-leader(-8);
      padding: rhythm(2) rhythm(2) 0;
      background-color: white;
      @include border-radius(10px 10px 0 0);
    }

    p {
      @include adjust-font-size-to(18px, 1.25);
    }

  }

  @include at-breakpoint($wide-desktop) {
    .content-inner_head {
      @include margin-leader(-12);
      padding: rhythm(3) rhythm(4) 0;
    }
  }

}
