.content {
  padding: rhythm(2) 0;

  .content-inner {
    margin: 0 auto;
     max-width: 768px;
     text-align: center;
  }

  h4 {
    @include trailer(.5);
    @include adjust-font-size-to(15px);
    font-weight: bold;
    color: $color-gray-dark;
  }
  .notice {
    @include rhythm(1,0,0,1);
    @include adjust-font-size-to(15px);
    font-weight: bold;
  }

  .divide:before {
    content: "";
    display: block;
    width: 25%;
    margin: 48px auto;
    border-top: 2px solid $color-gray-white;
  }

  .action {
    @include trailer(2);
    .btn_submit {
      @include adjust-font-size-to(21px);
      padding: 6px 72px;
    }
  }




  @include at-breakpoint($pad) {

    padding: rhythm(4) 0;

    p {
      @include adjust-font-size-to(18px, 1.25);
    }



  }




}
