.gallery {

  .gallery-item-block {
    @include pie-clearfix;
  }

  .gallery-item {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    float: left;
  }

  .gallery-item-inner {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 3px 6px;
    background-color: #ddd;
    img { width: 100%; }
  }


  .gallery-item-block_2 {
    .gallery-item {
      width: 50%;
      padding-top: 30%;
    }
  }

  .gallery-item-block_3 {
    .gallery-item {
      width: 33.3333%;
      padding-top: 19.9999%;
    }
  }


}
