.hero {
  position: relative;
  background-color: black;
  margin: 0 -1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .hero-bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 80;
  }
  .hero-bg-slide-item {
    position: absolute;
    height: 440px;
    padding-bottom: 54px; // 對應 slide-dot 所產生的高度
    @include background-size(cover);
    background-position: center center;
  }

  .mbYTP_wrapper {
    z-index: 90 !important;
  }

  .hero-slide {
    position: relative;
    z-index: 100;
    background-color: rgba(black, 0.2);
    @include transition(background-color 0.5s);
  }

  .hero-slide-item {
    height: 440px;
  }

  .slick-prev, .slick-next {
    display: none !important;
  }

  .slick-dots {
    @include reset-list-style;
    padding: 12px 0 18px;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 6px;
      vertical-align: middle;
    }
    button {
      display: block;
      @include border-radius(6px);
      background-color: white;
      border: none;
      background-color: rgba(white, 0.3);
      width: 12px;
      height: 12px;
      font-size: 0;
      line-height: 0;
      outline: none;
      @include transition(background-color 0.5s);
      &:hover {
        background-color: rgba(white, 0.9);
      }
    }
    .slick-active {
      button {
        background-color: rgba(white, 0.9);
      }
    }
  }

  @include at-breakpoint($pad) {
    .hero-bg-slide-item {
      height: 640px;
      padding-bottom: 72px;
    }
    .hero-slide-item {
      height: 640px;
    }
    .slick-dots {
      padding: 23px 0;
      border-top: 2px solid rgba(white,.3);
    }
  }



  @include at-breakpoint($desktop) {
    margin: 0;

    .hero-bg-slide {
      display: none;
    }

    .hero-bg-slide-item {
      height: 90vh;
      padding-bottom: 72px;
    }

    .hero-slide {
      padding: 0 96px 0;
    }

    .hero-slide-item {
      min-height: 640px;
      height: 90vh;
      border-bottom: 2px solid rgba(white,.3);
    }

    .slick-prev, .slick-next {
      display: block !important;
      position: absolute;
      top: 0;
      bottom: 72px;
      border: none;
      padding: 0;
      outline: none;
      width: 96px;
      background-color: rgba(white, 0.3);
      color: rgba(white, 0);
      @include transition(background-color 0.5s);
      &:hover {
        background-color: rgba(white, 0);
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -30px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .slick-prev {
      text-align: left;
      left: 0;
      &:after {
        left: 24px;
        @include replace-text-with-svg(arrow-prev);
      }
    }

    .slick-next {
      text-align: right;
      right: 0;
      &:after {
        right: 24px;
        @include replace-text-with-svg(arrow-next);
      }
    }
    .slick-dots {
      border: none;
    }
  }

}
