.submit-box {
  max-width: 360px;
  margin: 0 auto;
  padding: rhythm(1.5);
  background-color: #f1f1f1;
  text-align: center;
  @include border-radius(10px);
  .submit-box-title {
    color: black;
    @include trailer(1);
  }
  .submit-box-action {
    padding: rhythm(.25) rhythm(1);
    @extend %subpixel;
  }
  @include at-breakpoint($desktop) {
    position: relative;
    z-index: 100;
    @include leader(6);
    @include trailer(-7);
    max-width: 640px;
    padding: rhythm(2);
    .submit-box-title {
      display: inline-block;
      margin-right: 24px;
      @include trailer(0);
      vertical-align: middle;
      @include adjust-font-size-to(18px);
      br {
        display: none;
      }
    }
    .submit-box-action {
      display: inline-block;
      @include adjust-font-size-to(16px);
      padding: rhythm(.25) rhythm(2);
    }
  }
}
