.team {

  .team-cover {
    @include box-sizing(border-box);
    position: relative;
    min-height: 568px;
    background-color: #444;
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, 0.6);
    }
  }
  .team-title {
    @include box-sizing(border-box);
    position: absolute;
    top: 47.5%;
    left: 0;
    right: 0;
    padding: 0 48px;
    @include translateY(-50%);
    text-align: center;
  }
  .team-slogan {
    @include adjust-font-size-to(24px, 1.25);
    @include trailer(0.5);
  }
  .team-video-play {
    display: block;
    position: relative;
    text-indent: -119988px;
    font-size: 0;
    width: 56px;
    height: 56px;
    margin: 12px auto 0;
    border: 2px solid white;
    @include border-radius(100%);
    @include opacity(0.75);
    @include transition(opacity 0.25s);
    &:hover {
      @include opacity(1);
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -12px 0 0 -8px;
      border: 12px solid transparent;
      border-right: none;
      border-left: 21px solid white;
    }
    &:focus { outline: none; }
  }

  .team-name {
    @include adjust-font-size-to(15px, 2/3);
    color: #ddd;
    @include trailer(0);
  }

  .team-info {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 24px;
    .location-icon {
      display: block;
      margin: 0 auto;
      width: 72px;
      height: 72px;
      opacity: 0.75;
    }
    .location-text {
      display: block;
    }
    span {
      display: inline-block;
      padding: 0 3px;
      @include adjust-font-size-to(13px, .75);
      font-weight: bold;
      color: #ccc;
    }
  }

  .team-prev, .team-next {
    position: absolute;
    top: 47.5%;
    @include translateY(-50%);
    padding: 12px 6px;
    .arrow-icon {
      display: block;
      @include opacity(0.75);
      @include transition(opacity 0.3s);
    }
    .thumb-info {
      display: none;
    }
    &:hover {
      .arrow-icon {
        @include opacity(1);
      }
    }
  }
  .team-prev {
    left: 0px;
    .arrow-icon {
      @include replace-text-with-svg(arrow-prev);
      width: 24px;
      height: 24px;
    }
  }
  .team-next {
    right: 0px;
    .arrow-icon {
      @include replace-text-with-svg(arrow-next);
      width: 24px;
      height: 24px;
    }
  }

  .fb-like-block {
    display: block;
    margin: 0 auto rhythm(2);
    width: 100px;
    height: 86px;
    text-align: center;
  }

  .team-content {
    padding: 48px 0;
    h3 {
      @include adjust-font-size-to(21px, 1);
      color: black;
      text-align: center;
      @include trailer(1.25);
    }
    h4 {
      @include adjust-font-size-to(16px);
      color: black;
      @include trailer(1);
      font-weight: bold;
    }
  }

  .team-intro {
    @include trailer(1);
  }

  .team-preface {
    position: relative;
    max-width: 600px;
    width: 80%;
    margin: 0 auto 72px;
    @include adjust-font-size-to(16px);
    color: $color-blue-dark;
    font-weight: bold;
    &:before {
      font-weight: normal;
      content: '“';
      position: absolute;
      top: -24px;
      left: -96px;
      @include adjust-font-size-to(96px);
      color: $color-gray-light;
    }
    &:after {
      font-weight: normal;
      content: '”';
      position: absolute;
      top: -24px;
      right: -96px;
      @include adjust-font-size-to(96px);
      color: $color-gray-light;
    }
  }

  .team-member {
    position: relative;
    max-width: 1520px;
    overflow: hidden;
    margin: 0 auto 72px;
    &:before, &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      top: 0;
      bottom: 0;
      width: 64px;
    }
    &:before {
      left: 0;
      @include background(linear-gradient(to left, rgba(white, 0), rgba(white, 1)));
    }
    &:after {
      right: 0;
      @include background(linear-gradient(to right, rgba(white, 0), rgba(white, 1)));
    }
    .title {
      @include trailer();
      @include adjust-font-size-to(24px);
      text-align: center;
    }
    .member-list {
      position: relative;
      padding: 0 72px;
    }
    .member {
      display: inline-block;
      padding: 0 18px;
      vertical-align: top;
    }
    .slick-track {
      margin: 0 auto;
    }
    .slick-prev, .slick-next {
      @include reset-box-model;
      position: absolute;
      z-index: 1200;
      top: 0;
      bottom: 0;
      width: 64px;
      @include hide-text();
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .7;
      @include transition(opacity 0.25s);
      &:focus { outline: none; }
      &:hover { opacity: 1; }
      &.slick-disabled { display: none !important; }
    }
    .slick-prev {
      left: 0;
      background-image: url("/images/member-arrow-prev.png");
      background-image: none, url("/images/member-arrow-prev.svg");

    }
    .slick-next {
      right: 0;
      background-image: url("/images/member-arrow-next.png");
      background-image: none, url("/images/member-arrow-next.svg");
    }
  }

  .team-info-card {
    @include pie-clearfix;
    overflow: hidden;
    background-color: #F1F1F1;
    @include border-radius(5px);
    .team-photo { display: none; }
    .team-info-inner {
      @include box-sizing(border-box);
      display: inline-block;
      width: 100%;
      padding: 32px;
    }
    .team-name {
      @include adjust-font-size-to(24px, 1.25);
      color: $color-black;
    }
    .team-location {
      @include adjust-font-size-to(13px);
      font-weight: bold;
      color: $color-black-light;
    }
    .team-info-list {
      list-style: none;
      margin: 12px 0 0;
      padding: 12px 0 0;
      border-top: 1px solid $color-gray-light;
    }
    li {
      @include trailer(.5);
      @include pie-clearfix;
      padding: 3px 0;
    }

    .label {
      display: block;
      margin-bottom: 3px;
      width: 100px;
      @include adjust-font-size-to(13px, 3/4);
      font-weight: bold;
      color: $color-black-light;
    }
    .info-content {
      display: block;
      @include adjust-font-size-to(15px, 3/4);
      span:empty, a:empty {
        pointer-events: none;
        &:before {
          content: "目前尚無資料";
          color: $color-gray;
        }
      }
    }
  }


  @include at-breakpoint($pad) {

    .team-cover {
      padding: 0 48px;
    }

    .team-title {
      padding: 0 72px;
    }

    .team-slogan {
      @include adjust-font-size-to(32px, 1.5);
      @include trailer(0.5);
    }

    .team-name {
      @include adjust-font-size-to(20px, 1);
    }

    .team-video-play {
      margin-top: 18px;
    }

    .team-prev, .team-next {
      padding: 24px 12px;
      .arrow-icon {
        width: 32px;
        height: 36px;
      }
    }

    .fb-like-block {
      margin: 0 auto rhythm(3);
    }
    .team-preface {
      @include adjust-font-size-to(20px, 1.35);
      margin: 0 auto 96px;
    }

    .team-member {
      margin: 0 auto 96px;
    }

    .team-content {
      margin: 0 auto;
      padding: rhythm(3) 0;
      .container { max-width: 768px; }
      h3 {
        @include adjust-font-size-to(27px, 1.4);
        @include trailer(1.5);
      }
      h4 {
        @include trailer(1.5);
        @include adjust-font-size-to(20px, 1.35);
      }
      ul, ol {
        @include leader(1.5);
        @include trailer(1.5);
      }
    }

    .team-intro {
      @include trailer(2);
      @include adjust-font-size-to(18px, 1.125);
      p {
        @include trailer(1.5);
        @include adjust-font-size-to(20px, 1.35);
      }
    }

    .team-info-card {
      li {
        @include trailer(0);
        padding: 6px 0;
      }
      .label {
        float: left;
        @include trailer(0);
        @include adjust-font-size-to(15px, 3/4);
        font-weight: normal;
      }
      .info-content {
        overflow: hidden;
        @include adjust-font-size-to(15px, 3/4);
      }
    }

  }

  @include at-breakpoint($desktop) {

    .team-info {
      .location-icon {
        width: 96px;
        height: 96px;
      }
      span {
        display: inline-block;
        padding: 0 3px;
        @include adjust-font-size-to(15px, .75);
        font-weight: bold;
        color: #ccc;
      }
    }

    .team-content {
      .container { max-width: 800px; }
    }
    .team-cover {
      height: 90vh;
    }
    .team-title {
      padding: 0 192px;
    }
    .team-slogan {
      @include adjust-font-size-to(40px, 1.75);
      @include trailer(0.5);
    }

    .team-name {
      @include adjust-font-size-to(22px, 1);
      color: #ddd;
    }

    .team-prev, .team-next {
      padding: 18px 12px;
      .arrow-icon {
        position: relative;
        z-index: 50;
        width: 48px;
        height: 48px;
      }
      .thumb-info {
        display: block;
        top: 0;
        position: absolute;
        background-color: rgba(white, 0.3);
        @include transition(transform 0.25s);
        span {
          display: block;
          color: white;
          @include adjust-font-size-to(16px);
          width: 96px;
        }
        img {
          position: absolute;
          top: 0;
          width: 84px;
          height: 84px;
          display: block;
        }
      }
    }
    .team-prev {
      .thumb-info {
        left: 0;
        @include translateX(-100%);
        span {
          text-align: left;
          padding: 30px 96px 30px 72px;
        }
        img {
          right: 0;
        }
      }
      &:hover {
        .thumb-info {
          @include translateX(0);
        }
      }
    }
    .team-next {
      .thumb-info {
        right: 0;
        @include translateX(100%);
        span {
          text-align: right;
          padding: 30px 72px 30px 96px;
        }
        img {
          left: 0;
        }
      }
      &:hover {
        .thumb-info {
          @include translateX(-0);
        }
      }
    }

    .team-info-card {
      padding-left: 300px;
      position: relative;
      .team-photo {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        @include border-radius(5px 0 0 5px);
      }
      .team-info-inner {
        width: 100%;
      }
      .info-content {
      }
    }
  }


  @include at-breakpoint($wide-desktop) {

    .team-slogan {
      @include adjust-font-size-to(48px, 2);
      @include trailer(0.5);
    }

    .team-name {
      @include adjust-font-size-to(24px, 1);
      color: #ddd;
    }

  }



}
