.tile-block {
  @include pie-clearfix;
  margin: 0 auto;
  padding: 0 21px;
  max-width: 1512px;

  .tile {
    position: relative;
    float: left;
    height: 0;
  }

  .tile_l {
    width: 100%;
    padding-top: 80%;
  }

  .tile_m {
    width: 60%;
    padding-top: 40%;
  }

  .tile_s {
    display: block;
    width: 40%;
    padding-top: 40%;
  }

  // .tile_l {
  //   width: 100%;
  //   padding-top: 66%;
  // }

  // .tile_m, .tile_s {
  //   width: 50%;
  //   padding-top: 33%;
  // }

  .tile-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 3px 6px;
    background-color: #444;
  }

  .tile-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    // text-align: center;
    padding: rhythm(0.5) rhythm(0.5);
  }

  .tile-title {
    @include adjust-font-size-to(20px, 1);
  }

  .tile_m .tile-title, .tile_s .tile-title {
    @include adjust-font-size-to(15px, 3/4);
    max-height: 36px;
    overflow: hidden;
  }

  .tile-meta {
    display: none;
    @include reset-list-style;
    @include pie-clearfix;
    @include adjust-font-size-to(13px);
    li {
      float: left;
      margin-right: 6px;
    }
  }

  .tile_m .tile-meta, .tile_s .tile-meta {

  }

  @include at-breakpoint($pad) {

    padding: 0 45px;

    // .tile_l {
    //   width: 50%;
    //   padding-top: 40%;
    // }

    // .tile_m {
    //   width: 30%;
    //   padding-top: 20%;
    // }

    // .tile_s {
    //   display: block;
    //   width: 20%;
    //   padding-top: 20%;
    // }

  }


}

