// ---- susy setting ----
// basic for susy
$total-columns  : 6;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;
$wide-desktop        : 16;


// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container seqtting ----
.page {
  overflow: hidden;
}

// $container-style: fluid;
#{$page-container} {

  @include container();

  @include at-breakpoint($pad) {
    padding: 0 48px;
    @include set-container-width;
  }

  @include at-breakpoint($desktop) {
    @include set-container-width;
  }

  @include at-breakpoint($wide-desktop) {
    @include set-container-width;
  }
}
