// ---- susy setting ----
// basic for susy
$total-columns  : 6;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 1025px 12;
$wide-desktop        : 16;


// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container seqtting ----
body {
  background-color: #183840;
}

.page {
  overflow-x: hidden;
}

.page-inner {
  background-color: white;
  min-height: 110vh; // 避免頁面內容不足以撐滿一個畫面的時候，導致 footer 無法正常使用的問題。
}

// $container-style: fluid;
#{$page-container} {

  @include container();

  @include at-breakpoint($pad) {
    padding: 0 48px;
    @include set-container-width;
  }

  @include at-breakpoint($desktop) {
    padding: 0 rhythm(4);
    @include set-container-width;
  }

  @include at-breakpoint($wide-desktop) {
    @include set-container-width;
  }
}
