.homepage {

  .event-block {
    background-color: #f1f1f1;
  }

  .submit-block {

  }

  .team-list-block {
    .team-list {
      @include reset-list-style;
    }

    .team-list-item {
      max-width: 400px;
      margin: 0 auto rhythm(1);
    }

    @include at-breakpoint($pad) {
      .team-list-item {
        max-width: none;
        @include isolate-grid(4);
      }
    }

    @include at-breakpoint($desktop) {
      .team-list-item {
        @include isolate-grid(4);
      }
    }

    @include at-breakpoint($wide-desktop) {
      .team-list-item {
        @include isolate-grid(4);
      }
    }

  }


}
