.block {
  padding: rhythm(2) 0;
  text-align: center;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
}

.block-title {
  @include adjust-font-size-to(20px, 2/3);
  @include trailer(0.5);
}

.block-subtitle {
  @include trailer(1);
  @include adjust-font-size-to(15px, 2/3);
  color: #aaa;
  &:after {
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background-color: black;
    margin: rhythm(1) auto;
  }

}

.block-text {
  @include adjust-font-size-to(15px);
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
  @include trailer();
}

.block-content {
  @include leader(2);
}

.block_large {
  padding: rhythm(8) 0;
}

.block_black-bg {
  background-color: #444;
  .block-title {
    color: white;
  }

  .block-subtitle {
    color: #999;
  }

  .block-text {
    color: #ddd;
  }
}

@include at-breakpoint($pad) {
  .block {
    padding: rhythm(3) 0;
  }
}

@include at-breakpoint($wide-desktop) {

  .block-title {
    @include adjust-font-size-to(24px, 1);
    @include trailer(0.5);
  }

  .block-subtitle {
    @include trailer(1.5);
    @include adjust-font-size-to(15px, 1);
  }

  .block-text {
    max-width: 640px;
  }

}
