.booth {
  text-align: center;
  display: block;
  color: #444;
  &:hover {
    text-decoration: none;
  }
}

.booth-photo {
  display: block;
  margin: 0 auto 12px;
  @include border-radius(100px);
  width: 100%;
  max-width: 200px;
}

.booth-name {
  @include trailer(0);
  @include adjust-font-size-to(18px, 1);
}

.booth-intro {
  @include leader(0.5);
  @include trailer(0);
  @include adjust-font-size-to(13px);
  text-align: left;
}

.booth_small {
  .booth-photo {
    width: 100%;
    max-width: 120px;
  }
}
