.member {
  @include box-sizing(border-box);
  text-align: center;
  @include trailer(1);
}

.member-avatar {
  position: relative;
  overflow: hidden;
  display: inline-block;
  @include trailer(0.25);
  width: 70%;
  height: 0;
  padding-top: 70%;
  @include border-radius(50%);
  background-color: #ddd;
  img {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.member-name {
  @include adjust-font-size-to(20px);
  color: black;
  font-weight: bold;
  @include trailer(0.5);
}

.member-intro.auto-break-text {
  @include adjust-font-size-to(13px);
  white-space: normal;
}

