.page-header {
  padding: rhythm(5) 0 rhythm(4);
  text-align: center;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.page-header_small {
  padding: rhythm(4) 0 rhythm(2);
}

.page-header-title {
  @include adjust-font-size-to(28px, 1.25);
  @include trailer(0);
}

.page-header-text {
  @include leader(0.5);
  @include adjust-font-size-to(15px, 1);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
}

.page-header_black-bg {
  position: relative;
  background-color: #444;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.45);
    @include background-image(linear-gradient(to bottom, rgba(black, 0) 50%, rgba(black, 0.35)));
  }
  .page-header-title {
    position: relative;
    color: white;
  }
  .page-header-text {
    position: relative;
    color: #ddd;
  }
}



@include at-breakpoint($pad) {

  .page-header {
    padding: rhythm(8) 0;
  }

  .page-header_small {
    padding: rhythm(4) 0;
  }



  .page-header-title {
    @include adjust-font-size-to(36px, 1.5);
  }
  .page-header-text {
    @include leader(0.75);
    @include adjust-font-size-to(20px, 1);
  }

  .page-header_black-bg {
    background-color: #444;
    .page-header-title {
      color: white;
    }
    .page-header-text {
      color: #ddd;
    }
  }


@include at-breakpoint($wide-desktop) {
    .page-header {
      padding: rhythm(12) 0;
    }
    .page-header_small {
      padding: rhythm(6) 0;
    }
    .page-header-title {
      @include adjust-font-size-to(44px, 2);
    }
    .page-header-text {
      @include leader(1);
      @include adjust-font-size-to(24px, 1);
    }

  }


}
