.tile {
  display: block;
  position: relative;
  @include box-sizing(border-box);
  height: 50%;
  color: white;
  border: 1px solid rgba(white, 0.3);
  border-top: none;
  @extend %subpixel;
  &:hover {
    color: white;
  }
}

.tile + .tile {
  border-top: 1px solid rgba(white, 0.3);
  border-bottom: 0;
}

.tile-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rhythm(1);
}

.tile-title {
  @include adjust-font-size-to(20px, 1);
  @include trailer(0.25);
}

.tile-subtitle {
  @include adjust-font-size-to(15px, 3/4);
}

.tile-text {
  @include adjust-font-size-to(13px, 3/4);
}

.tile-meta {
  @include adjust-font-size-to(13px, 3/4);
}

// ==== Tile Modifiers ====
// tile_primary
.tile_primary {
  position: relative;
  border-bottom: 0;
  height: 100%;

  .tile-title {
    position: absolute;
    top: 96px;
    padding: 0 24px;
    @include adjust-font-size-to(18px);
    @include trailer(1);
  }
  .tile-icon {
    @include padding-trailer(.5);
    @include replace-text-with-svg(local-light-logotype);
  }
  .tile-content {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
  }
}
// tile_event 生活節
.tile_event, .tile_submit {
  .tile-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.tile_event {
  .tile-icon {
    background-image: url("/images/local-light-life-festival.png");
    @include background-size(cover);
  }
}

.tile_submit {
  .tile-icon {
    background-image: url("/images/join-local-light.png");
    background-image: none, url("/images/join-local-light.svg");
  }
}


// tile_team 團隊
.tile_team {
  .tile-icon {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    @include opacity(0.9);
  }
}
.tile_half {
  .tile-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .tile-class {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
  .tile-content {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    text-align: center;
  }
  .tile-subtitle {
    display: none;
  }
}

@include at-breakpoint($desktop) {
  .tile {
    @include transition(background-color 0.25s);
    &:hover {
      background-color: rgba(black, 0.25);
    }
  }

  .tile_primary {
    .tile-title {
      top: 128px;
      padding: 0 36px;
    }
    .tile-content {
      bottom: 36px;
      padding: 0 36px;
    }
  }

  .tile_team {
    .tile-icon {
      width: 96px;
      height: 96px;
    }
  }

  .tile_half {
    .tile-content {
      bottom: 36px;
    }
    .tile-title {
      @include trailer(0.25);
    }
    .tile-subtitle {
      display: block;
    }
  }

}

